/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* CONTAINER */
.container {
    width: 90%;
    margin: 0 auto;
}
/* HEADER */
header {
    height: 80px;
    background-color: rgb(173 216 230);
}
/* HEADER */

.flex-container {
    display: flex;
    justify-content: center;
}

/* Navigation Container */
.nav-container {
   background-color: rgb(218 165 32);
   border: 2px dashed black;
   width: 800px;
   margin-top: 15px;
   padding: .5rem;
}
/* Navigation Container */

/* Text inside nav bar */
.text {
    display: flex;
    justify-content: space-between; 
}
/* Text inside nav bar */

/* MAIN */
/* Home Background */
.home {
    background-color: rgb(0 0 139);
    height: 350px;
    display: flex;
    align-items: center;
}
/* Home Background */

/* Box inside home  */
.box-home {
    background-color:rgb(238 130 238);
    border: 2px dashed black;
    width: 600px;
    padding: 9rem;
    margin: 0px auto;
}
/* Box inside home  */

.image-text {
    background-color: rgb(30 144 255);
    border: 2px dashed black;
    width: 45%;
    padding: 9rem;
}

.box-aside{
    background-color:rgb(255 192 203) ;
    border: 2px dashed black;
    width: 25%;
    padding: 9rem;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.center2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:rgb(211 211 211) ;
    padding: 2rem;
}

.background-box {
    background-color:rgb(211 211 211) ;
    padding: 4rem;
}

.large-box{
    background-color:rgb(34 139 34) ;
    width: 80%;
    padding: 15rem;
    margin-left: 100px;
}

